<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
             <li><%= link_to "Trip.vn", root_path ,id:'logo'%></li>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                 <li><%= link_to "Destination", about_path %></li>
                  <li><%= link_to "New Feed", help_path %></li>
                   <li><%= link_to "Trip's Home", root_path %></li>
            </ul>
 
            <div class="navbar-right">
                <button class="btn btn-danger">
                <%= link_to "Create to Discorver", login_path,id: 'btlogin' %>
              </button>
            </div>
        </div>
    </div>
</nav>